/* ------------------------------------ _Config
                  1 - Variables
                  2 - Configuration de base 
                  3 - Responsive ------------------------------------ */

/* ------------------------------------ 1- Variables ------------------------------------ */

$blue: #2A707A;
$orange: #DB5F31;
$dark: #2e2e36;
$light: #E1CAB4;
$semi-bold: 600;
$poppins: 'poppins', sans-serif;
$akaya: 'Akaya Telivigala', cursive;
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

/* ------------------------------------ 2- Configuration de base ------------------------------------ */

*{
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img{
    width: 100%;
}

/* ------------------------------------ 3- Responsive ------------------------------------ */

@mixin media-md {
    @media screen and (min-width: 700px) {
      @content;
    }
}

@mixin media-lg {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
  