/* ------------------------------------ _Elements
                  1 - Globaux
                  2 - Navigation 
                  3 - Banniere
                  4 - Formulaire 
                  5 - Footer ------------------------------------ */

/* ------------------------------------ 1 - Globaux ------------------------------------ */

body {
  background: $light;
  overflow-x: hidden;
  width: 90vw;
  margin: 0 auto;
}

.pt-5 {
  padding-top: 5px;
}

.separateur {
  height: 50px;
}

/* ------------------------------------ 2 - Navigation ------------------------------------ */

.nav {
  position: relative;
  .logo__desktop {
    display: none;
    width: 200px;
    position: absolute;
    top: 30px;
    left: 10px;
  }

  .logo__mobil {
    width: 100px;
    position: absolute;
    top: 15px;
    left: 10px;
  }

  &__items {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-flow: row;

    &-column {
      display: flex;
      flex-flow: column;
    }
  }

  &__link {
    list-style: none;
    margin: 5px;

    &-mobil-hide {
      display: none;
    }

    &-item {
      font-size: 1.2rem;

      &.pt-5 {
        color: $dark;
        text-decoration: none;
      }
    }
  }
}

/* ------------------------------------ 3 - Banniere ------------------------------------ */

.banniere {
  padding: 10px;
  text-align: center;
  background: $blue;
  width: 100vw;
  margin-left: -18px;

  &-h3 {
    margin: 15px auto;
    font-size: 1.5rem;
    font-weight: $semi-bold;
    font-family: $poppins;
    color: $light;
  }

  &-p {
    color: $light;
  }

  &-btn {
    margin: 15px auto;
  }

  .secondary__btn {
    color: $light;
    border: 2px $light solid;

    &:hover {
      color: $orange;
      background: $light;
    }
  }
}

/* ------------------------------------ 4 - Formulaire ------------------------------------ */

.form {
  &-items {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }

  label {
    height: 10px;
    color: rgba($dark, 0.7);
    text-indent: 20px;
    width: 100%;
    margin-top: 30px;
    font-family: $poppins;
  }

  &-btn {
    color: $blue;
    border: 2px solid $blue;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px;
    background: transparent;
    margin: 20px 0 0 0;
    font-size: 1em;
  }

  &-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid $blue;
    width: 100%;
    color: $dark;
    font-family: $poppins;
    font-size: 1rem;
  }

  &-list {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid $blue;
    color: $dark;
    font-family: $poppins;
    font-size: 1rem;
    margin-top: 40px;
  }
}

/* ------------------------------------ 5 - Footer ------------------------------------ */

.footer {
  border-top: 2px solid $dark;

  &-p {
    padding: 10px;

    &-link {
      color: $orange;
      text-decoration: none;
    }
  }
}
